APScheduler==3.11.2
asgiref==3.11.1
click==8.3.2
colorama==0.4.6
Django==4.2.30
django-apscheduler==0.7.0
django-widget-tweaks==1.5.1
djangorestframework==3.17.1
joblib==1.5.3
nltk==3.9.4
numpy==2.4.4
pillow==12.2.0
python-dotenv==1.2.2
regex==2026.4.4
scikit-learn==1.8.0
scipy==1.17.1
sqlparse==0.5.5
threadpoolctl==3.6.0
tqdm==4.67.3
tzdata==2026.1
tzlocal==5.3.1
