APScheduler==3.11.2
asgiref==3.11.1
click==8.3.1
colorama==0.4.6
dj-database-url==3.1.2
Django==4.2.29
whitenoise==6.9.0
django-apscheduler==0.7.0
django-widget-tweaks==1.5.1
djangorestframework==3.17.1
joblib==1.5.3
nltk==3.9.3
numpy==2.4.3
pillow==12.1.1
psycopg2-binary==2.9.11
python-dotenv==1.2.2
regex==2026.2.28
scikit-learn==1.8.0
scipy==1.17.1
sqlparse==0.5.3
threadpoolctl==3.6.0
tqdm==4.67.3
tzdata==2025.3
tzlocal==5.3.1
